#modal-div {
    overflow-y: auto;
}


#slide_filter2, #slide_filter1 {
    height: 10px;
}

#slide_filter2 .noUi-connect, #slide_filter1 .noUi-connect {
    background: #1db8c1;
}

#slide_filter2 .noUi-handle, #slide_filter1 .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

#slide_filter2 .noUi-handle:before, #slide_filter2 .noUi-handle:after, #slide_filter1 .noUi-handle:before, #slide_filter1 .noUi-handle:after {
display: none;
}